body{
}

.top_container{
	width: 90%;
	margin: 0px auto;
	display: block;
}
.sep{
	clear: both;
}

.dojo_container{
	width: 185px;
	float: left;
}

#ranking_chart{
	float: right;
	margin-right: 1em;
}

#completed_chart{
	float: right;
}
